.editor-container .mtk1 {
  color: #8be9fd;
}

.editor-container .mtk5 {
  color: #f1fa8c;
}

.editor-container .mtk6 {
  color: #bd93f9;
}

.editor-container .mtk8 {
  color: #ff79c6;
}

.editor-container .mtk9 {
  color: #f8f8f2;
}

.editor-container .mtk22 {
  color: #f8f8f2;
}

.editor-container .mtk100.Identifier.JsxElement.Bracket {
  color: #f8f8f2;
}

.editor-container .mtk104.JsxElement.JsxText {
  color: #f8f8f2;
}

.editor-container .mtk1.mtk101.Identifier.JsxOpeningElement.Identifier {
  color: #ff79c6;
}

.editor-container .mtk22.mtk101.Identifier.JsxOpeningElement.Identifier {
  color: #8be9fd;
}

.editor-container .mtk102.Identifier.JsxClosingElement.Identifier {
  color: #ff79c6;
}

.editor-container .mtk1.mtk101.Identifier.JsxOpeningElement.Identifier.mtk103.Identifier.JsxAttribute.Identifier {
  color: #50fa7b;
}

.editor-container .mtk12.VariableStatement.JsxClosingElement {
  color: #ede0e0;
}

.editor-container .JsxText {
  color: #0c141f;
}

.editor-container .monaco-editor {
  background-color: #282a36;
}
